*{
    margin: 0;
    padding: 0;
}
body{
    background: rgba(166, 209, 255, 0.185)
}
a{
    text-decoration: none;
}
.routerTitle{
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    color: rgb(15, 72, 129);
    background:rgb(212, 234, 255);
}
.routerTitle span{
    padding-left: 20px;
}